<!doctype html>
<html>
  <head>
    <title>{{config.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {% include "styles.css" %}
    </style>
  </head>

  <body>
    <header>
      <img src="{{config.logo}}" alt="The company logo." />
      {{config.title}}
    </header>

    <div class="content">
      {% if availability == 100.0 %}
      <div class="section fill ok">
        <span class="status ok">All services operating normally</span>
      </div>
      {% else if availability >= 90.0 %}
      <div class="section fill warn">
        <span class="status warn">Partial degradation in service</span>
      </div>
      {% else %}
      <div class="section fill error">
        <span class="status error">Major outage affecting multiple services</span>
      </div>
      {% endif %}

      {% for notice in config.notices %}
      <div class="section notice">
      <h3>
        {{ notice.title }}

        {% if let Some(timestamp) = notice.timestamp %}
        <span class="notice-timestamp">{{ timestamp }}</span>
        {% endif %}
      </h3>
      <p>{{ notice.description }}</p>
      </div>
      {% endfor %}

      {% for probe in probes %}
      {% let availability = probe.availability() %}
      <div class="section probe {% if availability == 100.0 %}ok{% else if availability > 90.0 %}warn{% else %}error{% endif %}">
        <h3>
          {{probe.name}}

          <span class="availability">{{ availability }}%</span>
          <!--
          {% for (tag, value) in probe.tags %}
          <span class="tag">{{tag}}: {{value}}</span>
          {% endfor %} -->
        </h3>
        <div class="probe-config probe-target">
          <span>{{ probe.target }}</span>
          <span>{{ probe.policy }}</span>
        </div>
        <!-- <div class="probe-config probe-validators">
          {% for (field, validator) in probe.validators %}
          <strong>{{field}}</strong> {{ validator }}
          {% if !loop.first %} &vert; {% endif %}
          {% endfor %}
        </div> -->
        <div class="history">
          {% if let Ok(samples) = probe.history.read() %} {% for sample in samples.iter() %}
          <span
            class="history-sample {% if sample.pass %}ok{% else %}error{% endif %}"
            title="{{ sample.message }}"
          ></span>
          {% endfor %} {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <footer>
      <p>Copyright &copy; Sierra Softworks</p>
    </footer>
  </body>
</html>
